#!/usr/bin/env ruby
# See README.md for more information on this file

# Ignore temporary files. Run first!
ignore  '(.*)~$'
ignore  '^#(.*)#$'

# Do all of this for 'common' and current machine files
dirs = [@machine, 'common']
dirs = [@machine] if @machine == 'fserv'
directories dirs do
	# Auxillary files
	ignore  '[^/]*/([^/]*)/auxillary/(.*)$'

	# Mercurial stuff
	merge   'mercurial/(extensions/[^/]+/rc|hgrc.merge/.+)','.hgrc',0

	# Fish shell functions and settings
	symlink 'shell/config\.fish',         '.config/fish/config.fish'
	symlink 'shell/tacklebox.fish',       '.config/fish/tacklebox.fish'
	symlink 'fish-functions/(.+)\.fish',  '.config/fish/functions/$1.fish'
	symlink 'fish-completions/(.+)\.fish','.config/fish/completions/$1.fish'
	merge   'shell/profile/.+',           '.config/fish/profile.fish'

	# Catch-all rules for merges and symlinks. Run last!
	ignore  '[^/]*/([^/]*)\.merge$'
	merge   '[^/]*/([^/]*)\.merge/[^/]+', '.$1'
	symlink '[^/]*/([^/]*)\.symlink$',    '.$1'
end
